.wrapper
  %section.site_title
    .btn.btn-lg.btn-success= link_to "Start Watching Now!", register_path, class: "sign_up"

:javascript
  $(function() {
    var BV = new $.BigVideo();
    BV.init();
    BV.show("#{'https://s3.amazonaws.com/myflixq/school-students-library.mp4'}",{ambient:true, doLoop:false});
  });